name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: deployment
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to remote server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: rickselby-web-server/actions/server-certificate@main
        with:
          CA: ${{ secrets.HOME_CA }}
          CLIENT_CERT: ${{ secrets.HOME_CLIENT_CERT }}
          CLIENT_KEY: ${{ secrets.HOME_CLIENT_KEY }}
      - uses: rickselby-web-server/actions/docker-compose-deploy@main
        with:
          STACK_NAME: portainer-edge
        env:
          DOCKER_HOST: ${{ secrets.HOME_HOST }}
          DOCKER_TLS_VERIFY: 1
          EDGE_ID: ${{ secrets.EDGE_ID }}
          EDGE_KEY: ${{ secrets.EDGE_KEY }}
